html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(227, 204, 181, 0.2);
  overflow-x: hidden; }

.dashboard {
  height: 100vh;
  min-height: 100vh; }

.bg-noScroll {
  overflow: hidden; }

p {
  font-size: 14px;
  margin-bottom: 10px; }

.panel-medium {
  /*height: 35vh;*/
  min-height: 155px;
  background-color: rgba(5, 97, 125, 0.7);
  /*border: 1px solid rgba(14, 20, 36, 0.2);*/
  -webkit-box-shadow: 2px 2px 14px -1px #aaaaaa;
  -moz-box-shadow: 2px 2px 14px -1px #aaaaaa;
  box-shadow: 2px 2px 14px -1px #aaaaaa;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: all 200ms ease; }

.panel-medium:hover {
  cursor: pointer;
  background-color: #044c62; }

.panel-medium .panel-body {
  padding: 25px 15px 10px 25px;
  color: #e6eff2; }

.panel-medium .panel-body h1 {
  margin-top: 0; }

.panel-big {
  min-height: 300px;
  background-color: rgba(5, 97, 125, 0.1);
  border: 1px solid rgba(14, 20, 36, 0.2); }

.piechart {
  min-height: 330px; }

.table-sales {
  overflow-y: scroll;
  height: 460vh; }

.sidebar {
  background-color: #0e1424;
  height: 100vh;
  min-height: 100vh;
  position: fixed;
  z-index: 2; }

.sidebar .logo {
  width: 80%;
  margin: 30px 0 10px 0; }

.total-sales {
  padding-top: 2vh; }

.total-sales .totalSalesH {
  font-size: 75px;
  font-weight: 100;
  margin-bottom: 0;
  min-height: 100px; }

h2 {
  font-size: 3vw;
  font-weight: 100;
  margin-left: 10px; }

h2 small {
  font-size: 50%;
  font-weight: 100;
  margin-bottom: 0; }

.mobile-top {
  background-color: #0e1424;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: none; }

.mobile-top .logo {
  width: 30px;
  margin: 10px; }

.map {
  width: 100%;
  height: 280px;
  background-color: grey; }

.center-col {
  margin-left: 8%; }

.title {
  color: #969696;
  font-size: 16px;
  font-weight: 300; }

.panel-body .title {
  color: #e6eff2;
  font-size: 16px;
  font-weight: 300; }

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  font-size: 12px;
  transition: all 200ms ease; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: rgba(5, 97, 125, 0.2); }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: transparent; }

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none; }

.right-col {
  padding-top: 2vh; }

.dlStore {
  /*border: 1px solid rgba(14, 20, 36, 0.2); */
  padding: 13px 15px 6px 13px;
  max-width: 200px;
  border-radius: 5px;
  min-height: 70px;
  -webkit-box-shadow: 2px 2px 14px -1px #aaaaaa;
  -moz-box-shadow: 2px 2px 14px -1px #aaaaaa;
  box-shadow: 2px 2px 14px -1px #aaaaaa;
  color: #e6eff2;
  font-weight: 300;
  background-color: #044c62;
  margin-bottom: 15px; }

/*.caca{
    min-height: 220px;
}*/
.animate-in {
  animation: introDl 600ms ease-in; }

@keyframes introDl {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* The Modal (background) */
.modal {
  display: block;
  z-index: 2;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  /*animation: modalBackG 0.3s ease-in forwards;*/
  visibility: none;
  opacity: 0;
  transition: all 300ms ease-in; }

.modal-content h2 {
  margin-bottom: 20px; }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 70px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 70%;
  transform: translateY(-300px);
  animation: modalContent 0.4s ease both 0.1s;
  /*overflow-y: scroll;*/
  opacity: 0; }

.modalP {
  /*height: 40px;*/
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  font-size: 16px; }

.modalP {
  padding: 10px; }

.divContainingP {
  padding: 5px 10px;
  color: #666;
  height: 79%;
  overflow: scroll; }

/* The Close Button */
.close {
  color: #999;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: -7px;
  right: -7px;
  width: 20px; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/*@keyframes modalBackG{
    0%{opacity: 0}
    50{opacity: 0.8}
    100%{opacity: 1}
}*/
@keyframes modalContent {
  0% {
    transform: translateY(-300px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
/*//////LOADER//////*/
.loader-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  transition: all 50ms ease; }

.hide-loader {
  visibility: hidden; }

.loader-wrapper {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  top: 270px; }

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute; }

.one {
  border: 5px solid #999;
  border-top-color: white;
  animation: rotate 1.5s ease infinite; }

@keyframes rotate {
  30% {
    border-top-color: #42bda0; }
  50% {
    border-top-color: #363e52; }
  100% {
    transform: rotate(360deg); } }
/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
  .total-sales h1 {
    font-size: 20vw; }

  .panel-medium {
    width: 45%; }

  .panel-big {
    width: 45%;
    right: 10px;
    top: 15px;
    position: absolute; }

  .mobile-top {
    display: block; }

  .dashboard {
    margin-top: 50px; }

  .center-col {
    margin-left: 0; }

  h2 {
    font-size: 5vw;
    font-weight: 100;
    margin: 25px 15px; }

  .total-sales .totalSalesH {
    /*font-size: 10vw;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 5px;*/ }

  .modal-content {
    width: 70%; } }
@media screen and (max-width: 580px) {
  .total-sales .col-xs-4, .total-sales .col-xs-8 {
    width: 100%; }

  .top-three-sellers dl {
    float: left;
    margin-right: 3%; }

  .modal-content {
    width: 85%; }

  .top-seller {
    /*max-height: 450px;*/ }

  .panel-medium {
    width: 100%;
    height: auto; }

  .panel-body {
    min-height: 150px; }

  .piechart {
    /*max-height: 500px;*/ }

  .panel-big {
    width: 100%;
    position: relative;
    left: 0;
    top: 0; }

  h2 {
    font-size: 7vw;
    /*font-weight: 100;
    margin-bottom: 0;
    margin-left: 10px;*/ }

  .total-sales .totalSalesH {
    /*font-size: 15vw;*/
    /*font-weight: 100;
    margin-bottom: 0;
    margin-top: 5px;*/ }

  .dlStore {
    padding: 0;
    max-width: none;
    width: 100%; }

  .caca {
    margin-top: 25px; }

  .dlStore p {
    /*text-align: center;*/
    padding: 15px; }

  .topSellerCanvas {
    height: 90%; }

  .modal-content {
    overflow: hidden; }

  .map-graph {
    margin: 20px 0; }

  .title {
    margin-bottom: 20px; } }

/*# sourceMappingURL=styles.css.map */
