@import "_variables";

html, body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $main-bg;
  overflow-x: hidden;
  font-weight: 300;
}

a{
  color: $text-dark-muted;
  &:hover, &:focus{
    color: (0,0,0,.7);
  }
}

h1{
  font-size: 43px;
  font-weight: 100;
  padding: 7px 15px;
  small{
    font-size: 50%;
    margin-bottom: 0;
    white-space: nowrap;
    font-weight: 100;
  }
}

h2{
  font-size: 48px;
  font-weight: 100;
}

p{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 300;
}

.bg-noScroll{
  overflow: hidden;
}

.map-graph{
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

.panel-medium{
  border: none;
  min-height: 155px;
  background-color: transparentize($main-colour, .3);
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: all 200ms ease;
  .panel-body{
    padding: 25px 15px 10px 25px;
    color: $text-light;
    .animate-in{
      animation: introDl 300ms ease-in-out;
    }
    h2{
      margin-top: 0;
    }
  }
}

.panel-big {
  min-height: 320px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 0;
  .panel-body{
    padding: 10px 15px;

  }
  .table-sales{
    overflow-y: scroll;
    max-height: 258px;
    .saleItem{
      background-color: white;
    }
  }
}

.sidebar{
  background-color: $sidebar-bg;
  height: 100%;
  position: fixed;
  z-index: 2;
  .logo{
    width: 80%;
    margin: 30px 0 10px 0;
  }
}

.mobile-top{
  background-color: $sidebar-bg;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: none;
  .logo{
    width: 30px;
    margin: 10px
  }
}

.central-section{
  .totalSalesH{
    font-size: 75px;
    margin-bottom: 0;
    min-height: 95px;
    margin-top: 0px;
  }
  .modal-button{
    color: rgba(66, 134, 244,.7);
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

.map {
  width: 100%;
  height: 280px;
  background-color: grey;
}

.title{
  color: $text-dark-muted;
  font-size: 16px;
  font-weight: 300;
}

.nav-tabs{
  a{
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
    transition: all 200ms ease;
    cursor: pointer;
  }
  .active{
    a:focus, a:hover {
      background-color: rgba(5, 97, 125, 0.2);
    }
  }
}

.dlStore{
  padding: 13px 15px 6px 13px;
  max-width: 200px;
  border-radius: 5px;
  min-height: 70px;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  color: $text-light;
  font-weight: 300;
  background-color: $main-colour;
  margin-bottom: 15px;
  .animate-in{
      animation: introDl 300ms ease-in-out;
  }
}

@keyframes introDl {
  0% {
    transform: translateY(-35px) rotateX(-90deg);
    opacity:0;
  }
  100% {
    transform: translateY(0px) rotateX(0deg);
    opacity:1;
  }
}

.modal {
  display: block;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 150ms ease-in;
}

.modal-content {
  background-color: #fefefe;
  margin: 70px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 70%;
  transform: translateY(-300px);
  animation: modalContent 200ms ease forwards;
  opacity: 0;
  h2{
    margin: 10px;
  }
  .close {
    color: #999;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -7px;
    right: -7px;
    width: 20px;
    transition: all 200ms ease;
    cursor: pointer;
    &:hover, &:focus{
      color: black;
      text-decoration: none;
    }
  }
  .modal-list-wrapper{
    padding: 5px 10px;
    color: $text-dark-muted;
    height: 79%;
    overflow: scroll;
    .modalP{
      border-bottom: 1px solid #ddd;
      font-size: 16px;
      padding: 10px;
      transform-origin: center top;
      animation: modalInfoIn 400ms ease forwards;
    }
  }
  .loader-para{
    font-size: 18px;
    padding: 10px;
  }
}

@keyframes modalInfoIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes modalContent{
  0%{
    transform: translateY(-300px);
    opacity: 0;
    }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}

.loader-bg{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 3;
  transition: all 50ms ease;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
  &.hide-loader{
    visibility: hidden;
  }
  .loader-wrapper{
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    align-self: center;
   }
  .ring{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    border: 5px solid #999;
    border-top-color: white;
    animation: rotate 1.5s ease infinite;
  }
}

@keyframes rotate {
  30%{
    border-top-color: rgb(66, 189, 160)
  }
  70%{
    border-top-color:rgb(54, 62, 82);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1281px) {
  .dashboard{
    >div{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}


@media screen and (max-width: 992px) {

  h2{
    font-size: 40px;
  }

  .panel-medium{
    width: 47%;
  }

  .map-graph{
    margin-top: 20px;
  }

  .panel-big{
    width: 47%;
    right:10px;
    top: 30px;
    position: absolute;
    height: initial;
    .table-sales{
    // max-height: 300px;
    }
  }

  .mobile-top{
    display: block;
  }

  .dashboard{
    margin-top: 50px;
  }

  .title{
    margin-top: 20px;
  }

  .modal-content{
    width: 70%;
  }
}


@media screen and (max-width: 580px) {

  h2{
    font-size: 35px;
  }

  .central-section{
    >div{
      padding: 0;
    }
  }

  h1{
    font-size: 38px;
    padding: 0;
  }

  .modal-content{
    width: 85%;
    overflow: hidden;
  }

  .panel-medium{
    width: 100%;
  }

  .panel-big{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
  }

  .dlStore{
    max-width: none;
  }

  .title{
    margin-bottom: 20px;
  }

  .central-section{
    .totalSalesH{
      min-height: 85px;
      font-size: 65px;
    }
  }
}
